In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2011.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2011.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2011,Alabama,8.7,22.4,22.2,18.5,16.2,8.7,3.4,142.2,...,16.4,8.7,65.045,1134,585,3,4799069,13632,2772,0.578434
1,2011,Alaska,2.0,2.9,6.2,17.6,36.3,27.7,7.3,255.0,...,26.3,20.2,94.966,1794,3074,4,722128,8218,422,0.587728
2,2011,Arizona,5.2,18.0,21.7,18.0,18.1,13.2,5.9,161.1,...,17.4,10.9,66.790,1365,1434,4,6472643,65471,27551,4.278167
3,2011,Arkansas,11.0,29.6,22.0,16.0,12.5,6.7,2.1,120.7,...,15.2,7.4,60.340,988,732,3,2940667,18703,9658,3.294766
4,2011,California,1.6,3.8,7.0,9.0,17.9,28.5,32.2,363.6,...,21.6,22.3,89.279,2182,3291,4,37638369,318867,47853,1.276797

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2011.csv"
df.to_csv(file_path, index=False)