In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2012.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2012.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2012,Alabama,8.5,23.0,21.7,17.9,16.8,9.0,3.2,142.6,...,16.7,9.0,65.297,1104,597,3,4815588,16519,5703,1.186314
1,2012,Alaska,2.3,2.7,7.4,14.3,38.1,28.9,6.3,260.4,...,24.4,21.8,94.352,1831,3098,4,730443,8315,1029,1.416798
2,2012,Arizona,5.7,18.3,21.9,17.0,18.3,12.9,5.9,159.7,...,18.4,11.9,69.604,1320,1393,4,6554978,82335,44944,6.899802
3,2012,Arkansas,11.0,28.7,22.6,16.1,13.1,6.2,2.1,121.3,...,15.4,7.4,61.204,975,762,3,2952164,11497,2439,0.827785
4,2012,California,1.7,4.1,7.2,9.3,18.0,28.5,31.3,358.1,...,21.8,23.2,91.024,2119,3336,4,37948800,310431,56502,1.495016

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2012.csv"
df.to_csv(file_path, index=False)