In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2016.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2016.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2016,Alabama,6.6,19.7,58.8,11.0,2.4,0.9,0.6,153.9,...,17.5,18.3,13.1,73.126,0.1,3,4863525,11178,3620,0.745172
1,2016,Alaska,2.0,2.4,49.7,36.0,7.7,1.5,0.6,286.6,...,14.5,29.2,25.9,106.840,0.0,4,741456,3958,-2882,-3.897349
2,2016,Arizona,2.6,7.4,60.0,21.2,5.6,1.8,1.4,222.9,...,16.4,19.2,16.1,77.219,0.1,4,6941072,111396,82382,11.964782
3,2016,Arkansas,7.3,23.3,57.8,8.6,1.8,0.7,0.5,139.7,...,16.1,17.9,11.2,69.016,0.2,3,2989918,11870,4435,1.486269
4,2016,California,1.1,1.4,19.4,29.4,23.1,12.0,13.7,491.1,...,14.1,21.8,30.6,103.266,0.0,4,39167117,249072,19523,0.500044

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2016.csv"
df.to_csv(file_path, index=False)