In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2013.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2013.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2013,Alabama,9.0,22.2,22.3,17.4,16.7,9.3,3.1,141.4,...,16.8,9.9,65.890,1093,595,3,4830081,14493,7343,1.522549
1,2013,Alaska,1.9,2.5,6.5,15.4,36.4,30.4,6.8,266.8,...,27.4,22.9,100.319,1746,3175,4,737068,6625,-701,-0.955359
2,2013,Arizona,5.4,13.2,19.4,18.5,21.4,15.3,6.9,178.2,...,18.3,13.1,71.112,1277,1394,4,6632764,77786,42047,6.376679
3,2013,Arkansas,11.3,26.7,23.8,16.2,13.3,6.3,2.4,124.7,...,16.1,8.6,62.241,979,800,3,2959400,7236,171,0.057853
4,2013,California,2.8,3.2,5.7,8.0,16.3,29.2,34.9,383.2,...,21.7,25.0,93.538,2059,3412,4,38260787,311987,62836,1.649031

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2013.csv"
df.to_csv(file_path, index=False)