In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2017.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2017.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)","Home Value $500k-$749,999k (%)","Home Value $750k-$999,999k (%)","Home Value $1,000,000+ (%)",Median Home Value ($)(1000X),...,"Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Median Real Estate Taxes ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2017,Alabama,6.4,19.1,58.5,11.6,3.0,0.8,0.7,158.0,...,20.6,13.0,74.553,1123,664,3,4874486,10961,5309,1.090366
1,2017,Alaska,2.3,1.9,49.9,36.4,7.4,1.4,0.5,286.9,...,26.8,26.1,103.942,1844,3411,4,739700,-1756,-8141,-10.992765
2,2017,Arizona,2.4,5.5,58.1,23.8,6.7,2.0,1.4,238.8,...,20.7,17.3,80.853,1365,1510,4,7044008,102936,76071,10.878879
3,2017,Arkansas,7.0,22.3,59.1,8.7,1.7,0.7,0.4,142.8,...,17.8,12.5,71.081,1025,903,3,3001345,11427,6020,2.009593
4,2017,California,1.0,1.1,16.6,28.5,24.6,13.1,15.2,529.0,...,22.6,32.5,108.609,2269,4174,4,39358497,191380,-24732,-0.629909

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2017.csv"
df.to_csv(file_path, index=False)