In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/Cost/census_2018.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/Population/pop_2018.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2018,Alaska,1.3,2.4,49.0,36.6,8.2,1.8,0.7,292.6,...,15.2,27.6,26.6,105.294,0.1,4,735139,-4561,-10220,-13.859140
1,2018,Maine,3.4,9.1,62.4,18.8,4.1,1.1,1.0,208.3,...,18.4,22.2,14.8,81.392,0.0,1,1339057,4445,6642,4.968453
2,2018,North Carolina,2.9,11.7,58.1,19.0,5.4,1.8,1.2,199.6,...,16.5,20.6,17.9,81.504,0.0,3,10381615,113382,86828,8.409553
3,2018,Missouri,4.9,15.4,60.7,13.7,3.5,1.0,0.8,170.8,...,17.1,21.5,16.9,81.877,0.2,2,6121623,14953,3058,0.500152
4,2018,Pennsylvania,3.4,11.9,57.6,19.2,5.5,1.4,1.0,202.0,...,16.5,23.0,21.2,90.755,0.1,1,12800922,13281,10944,0.855382

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/Merged/2018.csv"
df.to_csv(file_path, index=False)