In [1]:
# Initial imports.
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Read data
df_us_data = pd.read_csv('Resources/US_data_combined.csv')
df_us_data

,Year,Region,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$149,999k (%)","Home Value $150k-$199,999k (%)","Home Value $200k-$299,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",...,Median Real Estate Taxes ($),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Net Migration Change
0,2010,3,Alabama,9.1,23.6,20.3,17.8,16.8,61.7,8.7,...,568.0,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,NaN
1,2010,4,Alaska,2.0,2.9,9.6,15.6,35.2,28.1,26.5,...,3177.0,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,NaN
2,2010,4,Arizona,4.0,13.4,20.5,19.5,21.4,53.4,14.4,...,1489.0,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,NaN
3,2010,3,Arkansas,12.0,27.0,23.9,16.2,12.2,67.1,6.4,...,703.0,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,NaN
4,2010,4,California,1.5,3.4,6.0,8.6,17.4,18.0,29.1,...,3284.0,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,2.6,6.4,NaN,NaN,NaN,55.1,24.6,...,2151.0,89.1,10.5,8.5,2.0,0.4,21244317,280704,267130,12.657811
464,2018,1,Massachusetts,1.0,0.8,NaN,NaN,NaN,26.7,36.2,...,4801.0,81.5,18.1,15.8,2.3,0.5,6882635,22846,11129,1.619656
465,2018,3,District of Columbia,0.8,0.6,NaN,NaN,NaN,8.9,27.1,...,3691.0,84.2,15.6,12.3,3.3,0.2,701547,6641,2431,3.481678
466,2018,4,Utah,1.9,1.2,NaN,NaN,NaN,44.5,37.5,...,1788.0,84.7,14.7,11.0,3.7,0.6,3153550,52508,21841,6.983989
467,2018,1,New York,2.2,8.0,NaN,NaN,NaN,34.6,23.8,...,5837.0,85.8,13.8,12.2,1.5,0.4,19530351,-59221,-125303,-6.406096

In [3]:
# Drop columns with multiple NaN values
df_us_data.dropna(axis=1, inplace=True)
df_us_data

,Year,Region,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),...,Income $150k+ (%),Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration
0,2010,3,Alabama,9.1,23.6,61.7,8.7,3.7,142.7,1130,...,8.7,61.964,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168
1,2010,4,Alaska,2.0,2.9,28.1,26.5,8.1,255.7,1772,...,19.1,94.747,84.4,14.9,10.4,4.5,0.7,713910,3661,1598
2,2010,4,Arizona,4.0,13.4,53.4,14.4,6.8,177.0,1442,...,10.2,66.539,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672
3,2010,3,Arkansas,12.0,27.0,67.1,6.4,2.1,122.6,987,...,7.1,59.393,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270
4,2010,4,California,1.5,3.4,18.0,29.1,34.0,377.7,2242,...,21.2,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,2.6,6.4,55.1,24.6,11.4,247.0,1471,...,18.4,80.372,89.1,10.5,8.5,2.0,0.4,21244317,280704,267130
464,2018,1,Massachusetts,1.0,0.8,26.7,36.2,35.4,406.9,2207,...,37.3,121.565,81.5,18.1,15.8,2.3,0.5,6882635,22846,11129
465,2018,3,District of Columbia,0.8,0.6,8.9,27.1,62.7,627.0,2506,...,50.6,151.147,84.2,15.6,12.3,3.3,0.2,701547,6641,2431
466,2018,4,Utah,1.9,1.2,44.5,37.5,14.9,310.0,1531,...,19.3,93.060,84.7,14.7,11.0,3.7,0.6,3153550,52508,21841
467,2018,1,New York,2.2,8.0,34.6,23.8,31.4,341.9,2098,...,31.6,108.546,85.8,13.8,12.2,1.5,0.4,19530351,-59221,-125303

In [4]:
# List columns for calculations
df_us_data.columns.to_list()

['Year',
 'Region',
 'NAME',
 'Home Value <$50k (%)',
 'Home Value $50k-$99,999k (%)',
 'Home Value $100k-$299,999 (%)',
 'Home Value $300k-$499,999k (%)',
 'Home Value $500k+ (%)',
 'Median Home Value ($)(1000X)',
 'Median Housing Cost (monthly) ($)',
 'Income <$10k (%)',
 'Income $10k-$24,999 (%)',
 'Income $25k-$34,999 (%)',
 'Income $35k-$49,999 (%)',
 'Income $50k-$74,999 (%)',
 'Income $75k-$99,999 (%)',
 'Income $100k-$149,999 (%)',
 'Income $150k+ (%)',
 'Median Income ($)(1000X)',
 'No 2nd or Equity Loan (%)',
 '2nd Mortgage or Equity Loan (%)',
 'Equity Loan Only (%)',
 '2nd Mortgage Only (%)',
 'Both 2nd & Equity Loan (%)',
 'Population',
 'Net Population Change',
 'Net Migration']

In [5]:
# Create array for the number of medium incomes needed for monthly housing cost
cost_to_income = []
for i in range(len(df_us_data)):
    cost_to_income.append(df_us_data['Median Housing Cost (monthly) ($)'][i] / (df_us_data['Median Income ($)(1000X)'][i] * 1000 / 12))
    i += 1
cost_to_income

[0.21883674391582209,
 0.22442926952832276,
 0.2600580110912397,
 0.19941743976562892,
 0.3041924833793135,
 0.24378090382920004,
 0.2631657087106832,
 0.24226671470482264,
 0.24546280299926976,
 0.290839989693378,
 0.247389653535833,
 0.3025085249333198,
 0.23368825160369464,
 0.2574740062747945,
 0.2066350710900474,
 0.20124749911733553,
 0.2103178532527973,
 0.20918093565539783,
 0.20479859123926922,
 0.2350474106491612,
 0.2464924346629986,
 0.2580072865515603,
 0.23873957367933277,
 0.2341060720126684,
 0.2200499314321882,
 0.21519928388281168,
 0.2348249746747922,
 0.20556383786672666,
 0.27351283656856606,
 0.2636283878310768,
 0.28444551128180506,
 0.230426378260939,
 0.26825490821300046,
 0.2313493838394744,
 0.18576054432922082,
 0.22452473195783404,
 0.20831473570107759,
 0.26873810673407367,
 0.2288348355764086,
 0.2761956072319046,
 0.22502270301272964,
 0.20239438477206453,
 0.22623861255906855,
 0.22451457930206178,
 0.24206762577775276,
 0.25240909487903573,
 0.23831195697145222,
 0.2596211365902293,
 0.18485392579665397,
 0.2370854030930301,
 0.2100727174791274,
 0.2743907354166107,
 0.20920900914751325,
 0.22669165806709765,
 0.24524629435544246,
 0.19648657606894268,
 0.2932828548706863,
 0.23377791098456463,
 0.2558630077203629,
 0.23256159097655088,
 0.2461424948120821,
 0.2779090651290292,
 0.23844169396214385,
 0.2931497206212328,
 0.2389982581260065,
 0.2557025606503896,
 0.19881850901304504,
 0.1949086365766047,
 0.2075510796137428,
 0.20220349967595594,
 0.20055425282455766,
 0.23165748800852726,
 0.24027200604457877,
 0.25126380443587665,
 0.2259836937256292,
 0.2264525993883792,
 0.22043434821475522,
 0.21227500737680732,
 0.24072447333535638,
 0.19797543312127397,
 0.2603956742641424,
 0.2570054679595757,
 0.28485130571703027,
 0.22210721787573437,
 0.2640694568121104,
 0.22722368281081412,
 0.17673386634023183,
 0.21743757197626792,
 0.20209143968871593,
 0.25892533147243546,
 0.22649704411705562,
 0.25770647763839016,
 0.22330266221117145,
 0.20108108108108108,
 0.22222222222222218,
 0.21823006777412096,
 0.23604155973865637,
 0.2397774761821578,
 0.23174829447103146,
 0.2535200965512197,
 0.18337192993900647,
 0.23300970873786406,
 0.19608550090136492,
 0.2932870943770126,
 0.20288834096512856,
 0.23287264710869934,
 0.2275731279811505,
 0.1911639762107052,
 0.279354895412199,
 0.22891862638984553,
 0.24910390594596807,
 0.22866474061047606,
 0.22734049146551868,
 0.2654702393889527,
 0.2238448278278418,
 0.28475651668164753,
 0.22679416594223897,
 0.23985768641597072,
 0.1920589292130794,
 0.19170403587443946,
 0.20135038994858853,
 0.1965459408005077,
 0.19492316835045423,
 0.23556770306389022,
 0.22749602158721374,
 0.24061290451298833,
 0.2152333294542069,
 0.21347127609194566,
 0.20710782262249527,
 0.20755993528460068,
 0.21725915157922554,
 0.19897195126887113,
 0.24212215933091158,
 0.247892417222285,
 0.2763340314445002,
 0.21952004906846587,
 0.25960142536624,
 0.21374585635359117,
 0.17692401810840575,
 0.20578977826080824,
 0.19813339674236122,
 0.2526729216670303,
 0.21499131426793539,
 0.25098446084557524,
 0.21066711252298947,
 0.20246615504009657,
 0.21805348001653366,
 0.2089866277964383,
 0.22601187263896383,
 0.24141122665650352,
 0.22265677081018626,
 0.24709738614669757,
 0.17818750199368402,
 0.22172389252192126,
 0.19470089319222397,
 0.2841248085140692,
 0.1990590377902565,
 0.2088537565167117,
 0.21549105636179547,
 0.18875018074902392,
 0.2641493296841925,
 0.21588522197301432,
 0.23627386830051753,
 0.2246676293382463,
 0.21734059097978228,
 0.24728105323411556,
 0.2139327584536382,
 0.26883022523613465,
 0.2165921196124607,
 0.22997514113224185,
 0.18557781919850885,
 0.1821316571862994,
 0.19506444514303678,
 0.19459459459459458,
 0.1896294690049603,
 0.21681081774269387,
 0.2224163605678547,
 0.2349048472900548,
 0.20448096226335183,
 0.20686182838236356,
 0.20234182755032945,
 0.19953921666833616,
 0.21889307447116776,
 0.19476290079165454,
 0.23159059003701024,
 0.2391981883001861,
 0.2648645011199446,
 0.20983510443385855,
 0.25180766837599505,
 0.2074843597543477,
 0.17185775816039583,
 0.20076664406404382,
 0.18997178207076187,
 0.23808517383493605,
 0.2098265454267594,
 0.2398712284667283,
 0.20493834532588898,
 0.19372227525408503,
 0.20779378870646237,
 0.20176822333908068,
 0.21477312606418236,
 0.23315634218289086,
 0.21694214876033058,
 0.23630027759730673,
 0.17903902377017922,
 0.21568444982119353,
 0.19289806376755542,
 0.2810822360513875,
 0.20178523126859615,
 0.2100546469379207,
 0.21038714208982356,
 0.18742641864845774,
 0.25768132495716733,
 0.21378118512160893,
 0.23372893772893774,
 0.215662620940939,
 0.20916818940176374,
 0.23927375853348343,
 0.2071300002686511,
 0.2591120473786716,
 0.208686084538036,
 0.2234342674440474,
 0.18761107980406605,
 0.18472925798577386,
 0.19232830564275324,
 0.19326783701079084,
 0.19276451256596622,
 0.22071959262041907,
 0.22144644207831496,
 0.22824978278115676,
 0.20087480399438806,
 0.2028813618446297,
 0.20882523708147863,
 0.19806991684512057,
 0.21678291383269072,
 0.1932937344318835,
 0.2211606363976239,
 0.2306285089471582,
 0.2583106875628187,
 0.21207998106956932,
 0.2516905298580907,
 0.2054323197851688,
 0.1746542296558379,
 0.1943352322875712,
 0.19151342520839443,
 0.22947475777664456,
 0.208286840734955,
 0.2402450637326327,
 0.20517038777908345,
 0.19180707498203306,
 0.20905548837834206,
 0.201880327693931,
 0.2114530757846002,
 0.23634173170603956,
 0.21187780524813515,
 0.22775849159349262,
 0.17439982775325655,
 0.21304437778007654,
 0.18751117414987067,
 0.2827937761883157,
 0.19170255404425873,
 0.21636103834246245,
 0.21227971352699768,
 0.18798240138840255,
 0.25419314927711206,
 0.2067592674511192,
 0.2300028465698833,
 0.211928606609283,
 0.203345109133819,
 0.23448933247357642,
 0.203381869422264,
 0.2559514208453912,
 0.21145215217325822,
 0.21808942856815863,
 0.1811025804484603,
 0.18112623363220023,
 0.19119753840020928,
 0.18743007945842058,
 0.18877274487030585,
 0.22096107072678053,
 0.21742184089140293,
 0.23100566798575012,
 0.1945333988864823,
 0.1973688660421387,
 0.1993710209404004,
 0.1903452651615291,
 0.21920546347963688,
 0.18708995749072416,
 0.2182671009771987,
 0.22079294622097412,
 0.25542094437245716,
 0.20956326601070258,
 0.24701832042296815,
 0.20252195081922372,
 0.16732964930010535,
 0.19126484522032577,
 0.19224283305227657,
 0.2275908113053584,
 0.2058948441348849,
 0.22617582010524365,
 0.19941666073842215,
 0.18874223203738894,
 0.19942752168154826,
 0.20013544380803705,
 0.20545996230315558,
 0.22842355400176667,
 0.2127387600716673,
 0.22258991552730126,
 0.17210901418010655,
 0.20253353204172878,
 0.19222774195821443,
 0.2670650661995776,
 0.18477696031507262,
 0.20789966304754773,
 0.2063740789184009,
 0.17682856149298715,
 0.254255999070362,
 0.20923224735784782,
 0.21820963203758845,
 0.20553766902768833,
 0.20265803896411788,
 0.22863320045942842,
 0.1978404393163448,
 0.2519764791942155,
 0.19743347748306123,
 0.21048678382468275,
 0.17031436530043773,
 0.17519757736908192,
 0.18657744538476678,
 0.18169181078539598,
 0.18698978282076295,
 0.20575324071683107,
 0.2129001822268678,
 0.21951090127844672,
 0.18636160286316866,
 0.19228843264897344,
 0.18974746887001046,
 0.187405619587243,
 0.2202398240736899,
 0.18007747519281553,
 0.21377889677271686,
 0.21940419892165422,
 0.24367329959093115,
 0.21089630931458705,
 0.23856624051492512,
 0.1929868322589962,
 0.175269841973448,
 0.18425723994522494,
 0.184188393608074,
 0.2198780786311238,
 0.19750790403570762,
 0.22157842793925697,
 0.19454655181873046,
 0.18273662475572436,
 0.19464396927548266,
 0.19562973731813693,
 0.2006025988529682,
 0.2206496010151541,
 0.20526092318890396,
 0.2166762507188039,
 0.1693681960390153,
 0.19629638618547193,
 0.19245840861627989,
 0.2670876085240726,
 0.1807573135889904,
 0.21288795674510783,
 0.20258988534748243,
 0.17304202248139447,
 0.2506974560119327,
 0.20751591963541716,
 0.21642935377875136,
 0.20693679982606505,
 0.2099915813407974,
 0.2227643337029548,
 0.19092591713729776,
 0.24926670577569196,
 0.20571525481217673,
 0.20842769067406355,
 0.16928118968353692,
 0.1750054462275797,
 0.18450305398890735,
 0.17640590637763118,
 0.18697635626097833,
 0.19687863149608267,
 0.2055015023608528,
 0.21520818090554866,
 0.18247850578120367,
 0.188734639097429,
 0.1855556028429161,
 0.18151968217763462,
 0.20907468773897528,
 0.1856818076369879,
 0.20967623522502019,
 0.21415103323492998,
 0.23633420286694456,
 0.20931308627434483,
 0.23611044000115966,
 0.186806713209581,
 0.17612867611244004,
 0.17837202468410226,
 0.18596243024443918,
 0.22244222169118905,
 0.19351799932712796,
 0.22311255790659823,
 0.18718183004829655,
 0.18771718058451295,
 0.18789674143038512,
 0.1954380563838147,
 0.19704058561482837,
 0.22415775695446868,
 0.2038785984829755,
 0.2155088403174161,
 0.16760347470618292,
 0.19019385861509552,
 0.19429225611251943,
 0.25488687086347545,
 0.21596672175052709,
 0.19888932573225868,
 0.18904593639575976,
 0.1830550704104938,
 0.19185719795052614,
 0.18304547310768934,
 0.17903732701108233,
 0.22159817301703505,
 0.19506027904456585,
 0.24896706096773338,
 0.18865094575452046,
 0.21617453780776305,
 0.20074721880152782,
 0.19837467241972628,
 0.2034992149753216,
 0.20411032543522312,
 0.1780905752753978,
 0.18721176933924508,
 0.21401134077190412,
 0.21248290727049388,
 0.17145548751766368,
 0.1812255865449207,
 0.1893536900306033,
 0.26001273074474857,
 0.18945540829909138,
 0.20152987864496463,
 0.17506680180595227,
 0.23656302921688233,
 0.1790766360951345,
 0.19056014311455646,
 0.18857297346010002,
 0.20673685877137427,
 0.24912249757474206,
 0.18660801797709833,
 0.1702624498705518,
 0.18060512024825445,
 0.1838193078680234,
 0.21637046116132988,
 0.20658849804578447,
 0.17628991166456348,
 0.2155327086833936,
 0.22347505749699795,
 0.17480482032588887,
 0.21558370044052866,
 0.18929283322034585,
 0.21940425972412722,
 0.20092640733563363,
 0.21962872642213704,
 0.21785875868876733,
 0.1989586296783925,
 0.19742101869761444,
 0.23193853297219613]

In [6]:
# Create "Cost_to_income_ratio" column
df_us_data['Cost_to_income_ratio'] = cost_to_income
df_us_data

,Year,Region,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),...,Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Cost_to_income_ratio
0,2010,3,Alabama,9.1,23.6,61.7,8.7,3.7,142.7,1130,...,61.964,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0.218837
1,2010,4,Alaska,2.0,2.9,28.1,26.5,8.1,255.7,1772,...,94.747,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0.224429
2,2010,4,Arizona,4.0,13.4,53.4,14.4,6.8,177.0,1442,...,66.539,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0.260058
3,2010,3,Arkansas,12.0,27.0,67.1,6.4,2.1,122.6,987,...,59.393,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0.199417
4,2010,4,California,1.5,3.4,18.0,29.1,34.0,377.7,2242,...,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,0.304192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,2.6,6.4,55.1,24.6,11.4,247.0,1471,...,80.372,89.1,10.5,8.5,2.0,0.4,21244317,280704,267130,0.219629
464,2018,1,Massachusetts,1.0,0.8,26.7,36.2,35.4,406.9,2207,...,121.565,81.5,18.1,15.8,2.3,0.5,6882635,22846,11129,0.217859
465,2018,3,District of Columbia,0.8,0.6,8.9,27.1,62.7,627.0,2506,...,151.147,84.2,15.6,12.3,3.3,0.2,701547,6641,2431,0.198959
466,2018,4,Utah,1.9,1.2,44.5,37.5,14.9,310.0,1531,...,93.060,84.7,14.7,11.0,3.7,0.6,3153550,52508,21841,0.197421
467,2018,1,New York,2.2,8.0,34.6,23.8,31.4,341.9,2098,...,108.546,85.8,13.8,12.2,1.5,0.4,19530351,-59221,-125303,0.231939

In [54]:
# Find median housing cost per year
avg_median_housing = df_us_data['Median Housing Cost (monthly) ($)'].groupby(df_us_data['Year']).mean()
avg_median_housing_df = pd.DataFrame(avg_median_housing)
avg_median_housing_df.reset_index(inplace=True)
avg_median_housing_df

   Year  Median Housing Cost (monthly) ($)
0  2010                        1458.153846
1  2011                        1454.980769
2  2012                        1434.173077
3  2013                        1412.788462
4  2014                        1428.711538
5  2015                        1451.826923
6  2016                        1459.980769
7  2017                        1484.442308
8  2018                        1530.192308

In [53]:
# Create array for binary category
leave = []
for j in range(len(avg_median_housing_df)):
    for i in range(len(df_us_data)):
        if df_us_data['Year'][i] == avg_median_housing_df['Year'][j]:
            if df_us_data['Median Housing Cost (monthly) ($)'][i] > avg_median_housing_df['Median Housing Cost (monthly) ($)'][j] and df_us_data['Cost_to_income_ratio'][i] > 0.2:
                    leave.append(1)
            else:
                leave.append(0)
        i += 1     
    j += 1
leave

[0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1]

In [8]:
# Create binary column in df_us_data
df_us_data['Leave'] = leave
df_us_data

,Year,Region,NAME,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),...,No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Cost_to_income_ratio,Leave
0,2010,3,Alabama,9.1,23.6,61.7,8.7,3.7,142.7,1130,...,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0.218837,0
1,2010,4,Alaska,2.0,2.9,28.1,26.5,8.1,255.7,1772,...,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0.224429,0
2,2010,4,Arizona,4.0,13.4,53.4,14.4,6.8,177.0,1442,...,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0.260058,0
3,2010,3,Arkansas,12.0,27.0,67.1,6.4,2.1,122.6,987,...,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0.199417,0
4,2010,4,California,1.5,3.4,18.0,29.1,34.0,377.7,2242,...,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,0.304192,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,3,Florida,2.6,6.4,55.1,24.6,11.4,247.0,1471,...,89.1,10.5,8.5,2.0,0.4,21244317,280704,267130,0.219629,0
464,2018,1,Massachusetts,1.0,0.8,26.7,36.2,35.4,406.9,2207,...,81.5,18.1,15.8,2.3,0.5,6882635,22846,11129,0.217859,0
465,2018,3,District of Columbia,0.8,0.6,8.9,27.1,62.7,627.0,2506,...,84.2,15.6,12.3,3.3,0.2,701547,6641,2431,0.198959,0
466,2018,4,Utah,1.9,1.2,44.5,37.5,14.9,310.0,1531,...,84.7,14.7,11.0,3.7,0.6,3153550,52508,21841,0.197421,0
467,2018,1,New York,2.2,8.0,34.6,23.8,31.4,341.9,2098,...,85.8,13.8,12.2,1.5,0.4,19530351,-59221,-125303,0.231939,0

In [9]:
# Create States DataFrame with names of states
state_names_df = df_us_data[['Year', 'Region', 'NAME']]
state_names_df.head()

   Year Region        NAME
0  2010      3     Alabama
1  2010      4      Alaska
2  2010      4     Arizona
3  2010      3    Arkansas
4  2010      4  California

In [10]:
# Remove Region, NAME and Cost_to_income_ratio columns to prepare for ML
clean_us_data_df = df_us_data.drop(columns=['Region', 'NAME', 'Cost_to_income_ratio'])
clean_us_data_df

,Year,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),Income <$10k (%),"Income $10k-$24,999 (%)",...,Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Leave
0,2010,9.1,23.6,61.7,8.7,3.7,142.7,1130,3.9,10.4,...,61.964,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168,0
1,2010,2.0,2.9,28.1,26.5,8.1,255.7,1772,1.2,4.0,...,94.747,84.4,14.9,10.4,4.5,0.7,713910,3661,1598,0
2,2010,4.0,13.4,53.4,14.4,6.8,177.0,1442,2.8,8.8,...,66.539,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672,0
3,2010,12.0,27.0,67.1,6.4,2.1,122.6,987,2.8,10.9,...,59.393,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270,0
4,2010,1.5,3.4,18.0,29.1,34.0,377.7,2242,2.1,5.9,...,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2018,2.6,6.4,55.1,24.6,11.4,247.0,1471,2.8,7.3,...,80.372,89.1,10.5,8.5,2.0,0.4,21244317,280704,267130,0
464,2018,1.0,0.8,26.7,36.2,35.4,406.9,2207,1.3,3.1,...,121.565,81.5,18.1,15.8,2.3,0.5,6882635,22846,11129,0
465,2018,0.8,0.6,8.9,27.1,62.7,627.0,2506,2.2,2.8,...,151.147,84.2,15.6,12.3,3.3,0.2,701547,6641,2431,0
466,2018,1.9,1.2,44.5,37.5,14.9,310.0,1531,1.0,3.7,...,93.060,84.7,14.7,11.0,3.7,0.6,3153550,52508,21841,0
467,2018,2.2,8.0,34.6,23.8,31.4,341.9,2098,1.7,4.2,...,108.546,85.8,13.8,12.2,1.5,0.4,19530351,-59221,-125303,0

In [11]:
# Check datatypes for all columns in preparation of ML
clean_us_data_df.dtypes

Year                                   int64
Home Value <$50k (%)                 float64
Home Value $50k-$99,999k (%)         float64
Home Value $100k-$299,999 (%)        float64
Home Value $300k-$499,999k (%)       float64
Home Value $500k+ (%)                float64
Median Home Value ($)(1000X)         float64
Median Housing Cost (monthly) ($)      int64
Income <$10k (%)                     float64
Income $10k-$24,999 (%)              float64
Income $25k-$34,999 (%)              float64
Income $35k-$49,999 (%)              float64
Income $50k-$74,999 (%)              float64
Income $75k-$99,999 (%)              float64
Income $100k-$149,999 (%)            float64
Income $150k+ (%)                    float64
Median Income ($)(1000X)             float64
No 2nd or Equity Loan (%)            float64
2nd Mortgage or Equity Loan (%)      float64
Equity Loan Only (%)                 float64
2nd Mortgage Only (%)                float64
Both 2nd & Equity Loan (%)           float64
Population                             int64
Net Population Change                  int64
Net Migration                          int64
Leave                                  int64
dtype: object

## Preprocess data

In [12]:
# Define the features set
X = clean_us_data_df.copy()
X = X.drop('Leave', axis=1)
X.head()

,Year,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),Income <$10k (%),"Income $10k-$24,999 (%)",...,Income $150k+ (%),Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration
0,2010,9.1,23.6,61.7,8.7,3.7,142.7,1130,3.9,10.4,...,8.7,61.964,82.3,17.2,12.3,4.9,0.6,4785437,5312,2168
1,2010,2.0,2.9,28.1,26.5,8.1,255.7,1772,1.2,4.0,...,19.1,94.747,84.4,14.9,10.4,4.5,0.7,713910,3661,1598
2,2010,4.0,13.4,53.4,14.4,6.8,177.0,1442,2.8,8.8,...,10.2,66.539,77.4,21.8,16.0,5.8,0.8,6407172,14884,5672
3,2010,12.0,27.0,67.1,6.4,2.1,122.6,987,2.8,10.9,...,7.1,59.393,89.3,10.5,6.4,4.1,0.2,2921964,5933,3270
4,2010,1.5,3.4,18.0,29.1,34.0,377.7,2242,2.1,5.9,...,21.2,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721

In [13]:
# Define the target set
y = clean_us_data_df['Leave'].ravel()
y[:5]

array([0, 0, 0, 0, 1])

In [14]:
# Split into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create instance of StandardScaler
scaler = StandardScaler()
# Fit StandardScaler with training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fit the Random Forest Model

In [16]:
# Create a Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Make predictions using test data
predictions = rf_model.predict(X_test_scaled)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

## Evaluate the Model

In [17]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [18]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          112            1
Actual 1            2            2

Accuracy Score: 0.9743589743589743
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.99      0.99       113
           1       0.67      0.50      0.57         4

    accuracy                           0.97       117
   macro avg       0.82      0.75      0.78       117
weighted avg       0.97      0.97      0.97       117

In [19]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.00837592, 0.03961154, 0.00634404, 0.12341013, 0.01309729,
       0.03076381, 0.02533942, 0.04073077, 0.02209869, 0.03637046,
       0.07268456, 0.03378648, 0.02015135, 0.0673789 , 0.04027455,
       0.05472426, 0.08427668, 0.03521012, 0.03474107, 0.02159516,
       0.0081501 , 0.15436024, 0.01284489, 0.00588615, 0.00779339])

In [20]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.1543602413824768, 'Both 2nd & Equity Loan (%)'),
 (0.12341013386223289, 'Home Value $100k-$299,999 (%)'),
 (0.08427668393790247, 'Median Income ($)(1000X)'),
 (0.07268456358094519, 'Income $25k-$34,999 (%)'),
 (0.06737890203718679, 'Income $75k-$99,999 (%)'),
 (0.05472426396509949, 'Income $150k+ (%)'),
 (0.04073077336100674, 'Median Housing Cost (monthly) ($)'),
 (0.04027455318112779, 'Income $100k-$149,999 (%)'),
 (0.039611535607350236, 'Home Value <$50k (%)'),
 (0.03637045871458566, 'Income $10k-$24,999 (%)'),
 (0.03521012227990788, 'No 2nd or Equity Loan (%)'),
 (0.034741065789845295, '2nd Mortgage or Equity Loan (%)'),
 (0.03378648237299679, 'Income $35k-$49,999 (%)'),
 (0.030763812608851724, 'Home Value $500k+ (%)'),
 (0.025339424178118485, 'Median Home Value ($)(1000X)'),
 (0.022098688943051427, 'Income <$10k (%)'),
 (0.0215951610317818, 'Equity Loan Only (%)'),
 (0.020151350103431012, 'Income $50k-$74,999 (%)'),
 (0.013097293601139735, 'Home Value $300k-$499,999k (%)'),
 (0.012844889329676338, 'Population'),
 (0.008375918782581145, 'Year'),
 (0.008150104154534384, '2nd Mortgage Only (%)'),
 (0.007793393938257507, 'Net Migration'),
 (0.006344036685709508, 'Home Value $50k-$99,999k (%)'),
 (0.005886146570203025, 'Net Population Change')]

In [24]:
# Create a California data set to predict
df_ca = state_names_df[state_names_df['NAME'] == 'California']
df_ca

     Year Region        NAME
4    2010      4  California
56   2011      4  California
108  2012      4  California
160  2013      4  California
212  2014      4  California
264  2015      4  California
316  2016      4  California
368  2017      4  California
425  2018      4  California

In [28]:
ca_list = df_ca.index.tolist()
ca_list

[4, 56, 108, 160, 212, 264, 316, 368, 425]

In [29]:
df_ca_clean_data = clean_us_data_df.loc[ca_list, :]
df_ca_clean_data

,Year,Home Value <$50k (%),"Home Value $50k-$99,999k (%)","Home Value $100k-$299,999 (%)","Home Value $300k-$499,999k (%)",Home Value $500k+ (%),Median Home Value ($)(1000X),Median Housing Cost (monthly) ($),Income <$10k (%),"Income $10k-$24,999 (%)",...,Median Income ($)(1000X),No 2nd or Equity Loan (%),2nd Mortgage or Equity Loan (%),Equity Loan Only (%),2nd Mortgage Only (%),Both 2nd & Equity Loan (%),Population,Net Population Change,Net Migration,Leave
4,2010,1.5,3.4,18.0,29.1,34.0,377.7,2242,2.1,5.9,...,88.444,72.2,26.3,18.6,7.6,1.6,37319502,64983,-721,1
56,2011,1.6,3.8,19.8,28.5,32.2,363.6,2182,2.3,6.0,...,89.279,75.6,23.0,16.6,6.3,1.4,37638369,318867,47853,1
108,2012,1.7,4.1,20.6,28.5,31.3,358.1,2119,2.3,5.7,...,91.024,78.0,20.9,15.3,5.6,1.1,37948800,310431,56502,0
160,2013,2.8,3.2,16.9,29.2,34.9,383.2,2059,2.2,5.6,...,93.538,80.4,18.5,13.8,4.7,1.1,38260787,311987,62836,0
212,2014,2.7,2.1,12.4,30.0,40.2,427.7,2068,2.1,5.4,...,96.305,82.1,17.0,12.9,4.1,0.8,38596972,336185,84680,0
264,2015,1.1,1.7,22.2,30.5,44.6,462.0,2123,2.0,5.1,...,100.223,83.6,15.7,12.0,3.6,0.8,38918045,321073,76932,0
316,2016,1.1,1.4,19.4,29.4,48.8,491.1,2188,2.0,4.7,...,103.266,84.2,15.2,12.0,3.1,0.7,39167117,249072,19523,0
368,2017,1.0,1.1,16.6,28.5,52.9,529.0,2269,1.9,4.5,...,108.609,85.8,13.6,10.8,2.8,0.5,39358497,191380,-24732,0
425,2018,1.0,1.0,14.1,27.1,56.8,566.1,2345,2.0,4.1,...,113.027,86.6,12.9,10.3,2.6,0.6,39461588,103091,-83981,0