In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in our data
census = pd.read_csv("../Resources/clean_data/census_2015.csv")

In [3]:
# Read in our data
pop = pd.read_csv("../Resources/clean_data/pop_2015.csv")

In [4]:
# Change column names
census.rename(columns={'State': 'NAME'}, inplace=True)

In [5]:
df = pd.merge(census, pop, on='NAME', how='left').fillna(method='ffill')

In [6]:
# Change column names
df.rename(columns={'Year_x': 'Year'}, inplace=True)

In [7]:
# Delete Year_y column 
del df['Year_y']

In [8]:
df.head()

,Year,NAME,Home Value <$50k (%),Home Value $50k-$90k (%),Home Value $100k-$149k (%),Home Value $150k-$199k (%),Home Value $200k-$299k (%),Home Value $300k-$499k (%),Home Value $500k+ (%),Median Home Value ($)(1000X),...,"Income $75k-$99,999 (%)","Income $100k-$149,999 (%)",Income $150k+ (%),Median Income ($)(1000X),Median Housing Cost (monthly) ($),Region,Population,Net Population Change,Net Migration,Net Migration Change
0,2015,Alabama,6.5,21.6,57.3,10.7,2.5,0.8,0.6,151.8,...,16.3,18.1,11.8,70.359,0.1,3,4852347,10548,3036,0.626357
1,2015,Alaska,1.5,2.3,54.6,33.0,6.7,1.4,0.4,276.1,...,16.7,25.7,25.1,100.776,0.0,4,737498,1215,-5893,-7.997118
2,2015,Arizona,2.7,9.1,60.0,19.2,5.7,1.7,1.5,211.6,...,16.1,18.6,15.0,74.562,0.1,4,6829676,99263,65072,9.597577
3,2015,Arkansas,7.7,23.9,57.1,7.9,2.1,0.7,0.6,135.9,...,15.5,16.5,10.2,65.687,0.2,3,2978048,10656,3197,1.075446
4,2015,California,1.1,1.7,22.2,30.5,22.0,10.7,11.9,462.0,...,14.5,22.2,28.0,100.223,0.0,4,38918045,321073,76932,1.984957

In [9]:
# Saving cleaned data
file_path = "../Resources/clean_data/2015.csv"
df.to_csv(file_path, index=False)