In [1]:
# Import our dependencies
import pandas as pd

In [2]:
# Read in our data
df = pd.read_csv("../Resources/clean_data/population_data.csv")
df.head()

,Region,NAME,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017,...,Net Migration 2017,Net Migration 2018,%Net Migration 2011,%Net Migration 2012,%Net Migration 2013,%Net Migration 2014,%Net Migration 2015,%Net Migration 2016,%Net Migration 2017,%Net Migration 2018
0,0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,...,930409,701823,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911
1,1,Northeast Region,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,...,-102968,-119642,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447
2,2,Midwest Region,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,...,-37933,-62915,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755
3,3,South Region,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,...,762046,648256,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519
4,4,West Region,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,...,309264,236124,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951

In [3]:
df.columns

Index(['Region', 'NAME', 'Population 2010', 'Population 2011',
       'Population 2012', 'Population 2013', 'Population 2014',
       'Population 2015', 'Population 2016', 'Population 2017',
       'Population 2018', 'Net Pop Chg 2010', 'Net Pop Chg 2011',
       'Net Pop Chg 2012', 'Net Pop Chg 2013', 'Net Pop Chg 2014',
       'Net Pop Chg 2015', 'Net Pop Chg 2016', 'Net Pop Chg 2017',
       'Net Pop Chg 2018', 'Net Migration 2010', 'Net Migration 2011',
       'Net Migration 2012', 'Net Migration 2013', 'Net Migration 2014',
       'Net Migration 2015', 'Net Migration 2016', 'Net Migration 2017',
       'Net Migration 2018', '%Net Migration 2011', '%Net Migration 2012',
       '%Net Migration 2013', '%Net Migration 2014', '%Net Migration 2015',
       '%Net Migration 2016', '%Net Migration 2017', '%Net Migration 2018'],
      dtype='object')

In [4]:
# Only view needed column information
pop = df.filter(items=['Region', 'NAME', 'Population 2012', 'Net Pop Chg 2012', 'Net Migration 2012', '%Net Migration 2012'])
pop.head()

,Region,NAME,Population 2012,Net Pop Chg 2012,Net Migration 2012,%Net Migration 2012
0,0,United States,313830990,2274116,838671,2.682083
1,1,Northeast Region,55775216,170993,-2136,-0.038355
2,2,Midwest Region,67336743,178943,-65495,-0.973943
3,3,South Region,117241208,1234686,682303,5.850458
4,4,West Region,73477823,689494,223999,3.062896
5,3,Alabama,4815588,16519,5703,1.186314
6,4,Alaska,730443,8315,1029,1.416798
7,4,Arizona,6554978,82335,44944,6.899802
8,3,Arkansas,2952164,11497,2439,0.827785
9,4,California,37948800,310431,56502,1.495016
10,4,Colorado,5192647,71539,38739,7.512104
11,1,Connecticut,3594547,6264,-1471,-0.409588
12,3,Delaware,915179,7798,4414,4.843736
13,3,District of Columbia,634924,15124,10095,16.091188
14,3,Florida,19297822,244585,202523,10.561534
15,3,Georgia,9901430,98999,36489,3.703741
16,4,Hawaii,1394804,15475,7055,5.086274
17,4,Idaho,1595324,11414,806,0.507040
18,2,Illinois,12882510,15056,-43686,-3.393092
19,2,Indiana,6537703,21175,-3033,-0.464677
20,2,Iowa,3076190,9854,-547,-0.178103
21,2,Kansas,2885257,16032,1352,0.469895
22,3,Kentucky,4386346,16525,4220,0.963892
23,3,Louisiana,4600972,25347,3561,0.776105
24,1,Maine,1327729,-555,-396,-0.298191
25,3,Maryland,5886992,47573,19100,3.257604
26,1,Massachusetts,6663005,49422,30496,4.593951
27,2,Michigan,9897145,14733,-9045,-0.914581
28,2,Minnesota,5376643,30500,2114,0.394301
29,3,Mississippi,2983816,5085,-5583,-1.872690
30,2,Missouri,6024367,14092,-5351,-0.889266
31,4,Montana,1003783,6467,3345,3.343163
32,2,Nebraska,1853303,12631,2176,1.178135
33,4,Nevada,2743996,31266,16760,6.142878
34,1,New Hampshire,1324232,4030,2345,1.773536
35,1,New Jersey,8844942,16825,-18503,-2.093922
36,4,New Mexico,2087309,6859,-3597,-1.726107
37,1,New York,19572932,73691,-18818,-0.963243
38,3,North Carolina,9749476,91884,51023,5.258187
39,2,North Dakota,701176,15951,11588,16.716664
40,2,Ohio,11548923,4260,-21690,-1.878444
41,3,Oklahoma,3818814,30435,14945,3.929176
42,4,Oregon,3899001,26965,15097,3.885453
43,1,Pennsylvania,12767118,21303,6422,0.503431
44,1,Rhode Island,1054621,972,-667,-0.632746
45,3,South Carolina,4717354,45360,29431,6.269019
46,2,South Dakota,833566,9987,5397,6.513612
47,3,Tennessee,6453898,54607,34546,5.375475
48,3,Texas,26084481,438852,226699,8.764683
49,4,Utah,2853375,38991,4114,1.451720
50,1,Vermont,626090,-959,-1544,-2.464212
51,3,Virginia,8185080,83925,41160,5.054575
52,4,Washington,6897058,70431,33476,4.878573
53,3,West Virginia,1856872,571,1538,0.828402
54,2,Wisconsin,5719960,14672,-4770,-0.834993
55,4,Wyoming,576305,9006,5729,10.019202
56,X,Puerto Rico,3634488,-44244,-54784,-14.982183

In [5]:
# Adding 'Year' column
pop.insert(0, 'Year', 2012)
pop.head()

,Year,Region,NAME,Population 2012,Net Pop Chg 2012,Net Migration 2012,%Net Migration 2012
0,2012,0,United States,313830990,2274116,838671,2.682083
1,2012,1,Northeast Region,55775216,170993,-2136,-0.038355
2,2012,2,Midwest Region,67336743,178943,-65495,-0.973943
3,2012,3,South Region,117241208,1234686,682303,5.850458
4,2012,4,West Region,73477823,689494,223999,3.062896

In [6]:
# Change column names
pop.rename(columns={'Population 2012': 'Population', 'Net Pop Chg 2012': 'Net Population Change', 'Net Migration 2012': 'Net Migration', '%Net Migration 2012': 'Net Migration Change'}, inplace=True)
pop.head()

,Year,Region,NAME,Population,Net Population Change,Net Migration,Net Migration Change
0,2012,0,United States,313830990,2274116,838671,2.682083
1,2012,1,Northeast Region,55775216,170993,-2136,-0.038355
2,2012,2,Midwest Region,67336743,178943,-65495,-0.973943
3,2012,3,South Region,117241208,1234686,682303,5.850458
4,2012,4,West Region,73477823,689494,223999,3.062896

In [7]:
pop.dtypes

Year                       int64
Region                    object
NAME                      object
Population                 int64
Net Population Change      int64
Net Migration              int64
Net Migration Change     float64
dtype: object

In [8]:
# Saving cleaned data
file_path = "../Resources/clean_data/pop_2012.csv"
pop.to_csv(file_path, index=False)