In [1]:
# Import our dependencies
import pandas as pd

In [2]:
# Read in our data
df = pd.read_csv("../Resources/clean_data/population_data.csv")
df.head()

,Region,NAME,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017,...,Net Migration 2017,Net Migration 2018,%Net Migration 2011,%Net Migration 2012,%Net Migration 2013,%Net Migration 2014,%Net Migration 2015,%Net Migration 2016,%Net Migration 2017,%Net Migration 2018
0,0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,...,930409,701823,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911
1,1,Northeast Region,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,...,-102968,-119642,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447
2,2,Midwest Region,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,...,-37933,-62915,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755
3,3,South Region,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,...,762046,648256,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519
4,4,West Region,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,...,309264,236124,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951

In [3]:
df.columns

Index(['Region', 'NAME', 'Population 2010', 'Population 2011',
       'Population 2012', 'Population 2013', 'Population 2014',
       'Population 2015', 'Population 2016', 'Population 2017',
       'Population 2018', 'Net Pop Chg 2010', 'Net Pop Chg 2011',
       'Net Pop Chg 2012', 'Net Pop Chg 2013', 'Net Pop Chg 2014',
       'Net Pop Chg 2015', 'Net Pop Chg 2016', 'Net Pop Chg 2017',
       'Net Pop Chg 2018', 'Net Migration 2010', 'Net Migration 2011',
       'Net Migration 2012', 'Net Migration 2013', 'Net Migration 2014',
       'Net Migration 2015', 'Net Migration 2016', 'Net Migration 2017',
       'Net Migration 2018', '%Net Migration 2011', '%Net Migration 2012',
       '%Net Migration 2013', '%Net Migration 2014', '%Net Migration 2015',
       '%Net Migration 2016', '%Net Migration 2017', '%Net Migration 2018'],
      dtype='object')

In [4]:
# Only view needed column information
pop = df.filter(items=['Region', 'NAME', 'Population 2011', 'Net Pop Chg 2011', 'Net Migration 2011', '%Net Migration 2011'])
pop

,Region,NAME,Population 2011,Net Pop Chg 2011,Net Migration 2011,%Net Migration 2011
0,0,United States,311556874,2235208,774165,2.493773
1,1,Northeast Region,55604223,224089,49272,0.887909
2,2,Midwest Region,67157800,183384,-64647,-0.963930
3,3,South Region,116006522,1139842,592249,5.130513
4,4,West Region,72788329,687893,197291,2.723344
5,3,Alabama,4799069,13632,2772,0.578434
6,4,Alaska,722128,8218,422,0.587728
7,4,Arizona,6472643,65471,27551,4.278167
8,3,Arkansas,2940667,18703,9658,3.294766
9,4,California,37638369,318867,47853,1.276797
10,4,Colorado,5121108,73759,39632,7.795086
11,1,Connecticut,3588283,9169,869,0.242487
12,3,Delaware,907381,7788,4381,4.848991
13,3,District of Columbia,619800,14574,9951,16.246186
14,3,Florida,19053237,207700,169141,8.925935
15,3,Georgia,9802431,90550,28820,2.953730
16,4,Hawaii,1379329,15366,6340,4.622184
17,4,Idaho,1583910,13164,2069,1.311712
18,2,Illinois,12867454,26951,-33876,-2.635449
19,2,Indiana,6516528,26096,588,0.090413
20,2,Iowa,3066336,15591,5939,1.941776
21,2,Kansas,2869225,11035,-3903,-1.362919
22,3,Kentucky,4369821,21640,8862,2.033035
23,3,Louisiana,4575625,31093,9456,2.073649
24,1,Maine,1328284,655,1099,0.827587
25,3,Maryland,5839419,50774,21004,3.612639
26,1,Massachusetts,6613583,47276,28245,4.286075
27,2,Michigan,9882412,4902,-19283,-1.951728
28,2,Minnesota,5346143,35315,6958,1.305812
29,3,Mississippi,2978731,8183,-2448,-0.822957
30,2,Missouri,6010275,14301,-5967,-0.993982
31,4,Montana,997316,6619,3732,3.754503
32,2,Nebraska,1840672,11130,1060,0.577623
33,4,Nevada,2712730,10325,-5259,-1.942334
34,1,New Hampshire,1320202,3440,1211,0.918480
35,1,New Jersey,8828117,28671,-6959,-0.789559
36,4,New Mexico,2080450,15898,4484,2.163570
37,1,New York,19499241,99363,6043,0.310701
38,3,North Carolina,9657592,83269,41981,4.365764
39,2,North Dakota,685225,10510,7286,10.715179
40,2,Ohio,11544663,5327,-21931,-1.900104
41,3,Oklahoma,3788379,28435,13643,3.614843
42,4,Oregon,3872036,34545,21653,5.617206
43,1,Pennsylvania,12745815,34655,19765,1.552816
44,1,Rhode Island,1053649,-310,-1563,-1.483198
45,3,South Carolina,4671994,36345,20816,4.472883
46,2,South Dakota,823579,7413,2911,3.550552
47,3,Tennessee,6399291,43980,25505,3.999341
48,3,Texas,25645629,403658,189731,7.456866
49,4,Utah,2814384,39052,2170,0.776426
50,1,Vermont,627049,1170,562,0.897099
51,3,Virginia,8101155,77456,35449,4.396815
52,4,Washington,6826627,83797,46859,6.906540
53,3,West Virginia,1856301,2062,3527,1.901071
54,2,Wisconsin,5705288,14813,-4429,-0.777306
55,4,Wyoming,567299,2812,-215,-0.379930
56,X,Puerto Rico,3678732,-42793,-53776,-14.533549

In [5]:
# Adding 'Year' column
pop.insert(0, 'Year', 2011)
pop.head()

,Year,Region,NAME,Population 2011,Net Pop Chg 2011,Net Migration 2011,%Net Migration 2011
0,2011,0,United States,311556874,2235208,774165,2.493773
1,2011,1,Northeast Region,55604223,224089,49272,0.887909
2,2011,2,Midwest Region,67157800,183384,-64647,-0.963930
3,2011,3,South Region,116006522,1139842,592249,5.130513
4,2011,4,West Region,72788329,687893,197291,2.723344

In [6]:
# Change column names
pop.rename(columns={'Population 2011': 'Population', 'Net Pop Chg 2011': 'Net Population Change', 'Net Migration 2011': 'Net Migration', '%Net Migration 2011': 'Net Migration Change'}, inplace=True)
pop.head()

,Year,Region,NAME,Population,Net Population Change,Net Migration,Net Migration Change
0,2011,0,United States,311556874,2235208,774165,2.493773
1,2011,1,Northeast Region,55604223,224089,49272,0.887909
2,2011,2,Midwest Region,67157800,183384,-64647,-0.963930
3,2011,3,South Region,116006522,1139842,592249,5.130513
4,2011,4,West Region,72788329,687893,197291,2.723344

In [7]:
pop.dtypes

Year                       int64
Region                    object
NAME                      object
Population                 int64
Net Population Change      int64
Net Migration              int64
Net Migration Change     float64
dtype: object

In [8]:
# Saving cleaned data
file_path = "../Resources/clean_data/pop_2011.csv"
pop.to_csv(file_path, index=False)